html{
    height: 100%;
}
#container{
    width: 400px;
    margin: auto;
    height: 800px;
}
.content{
    height: 85%;
    overflow: auto;
    text-align: center;
}
.content h4{
    padding-top: 20px;
}
.home{
    background-color: #ffd04d;
    width: 400px;
    height: 800px;
    margin: auto
}
.home .name{
    padding-top: 50%;
    padding-bottom: 50%;
    width: 100%;
    text-align: center;
}

.navbar-custom{
    background-color: #ffd04d;
    box-shadow: 0 6px 6px 1px rgba(0,0,0,0.23);
    height: 10%;
}
.navbar .navbar-brand  {
    background-color: #ffd04d;
    margin: 0 auto 0 auto;
    
  }
.navbar a, .navbar a:visited ,.navbar a:hover ,.navbar a:active {
    text-decoration: none;
    color: black;
}

footer{
    height: 5%;
}
.footer-custom{
    width: 400px;
    margin: auto;
}
.lobbies, #journal{
    margin: auto;
    width: 360px;
    height: 450px;
    overflow: scroll;
}
.join_details{
    font-size: 1.6em;
}
.searchbar{
padding: 20px 30px 0 30px;
}
table{
    font-size: 0.7em;
}
table #id{
    width: 30px;
}
table #title{
    overflow: auto;
}
p{
    margin: 0;
}
table #number{
    width: 10px;
}
.btn-group{
    padding: 10px;
}

#addLobby{
    padding: 20px;
    overflow: auto;
}

